*{
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.title img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.bingo {
    width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    background-color: #1565c0;
    border-radius: 15px;
    margin: 25px;
    color: white;
    font-size: 35px;
}

.info {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transition: transform 1s;
}

.info:hover {
    transform: scale(1.2);

}

.info img {
    width: 50px;
    height: 50px;
}

.bingo .case {
    display: flex;
    width: calc(20% - 4px);
    justify-content: center;
    border: 2px solid white;
    height: calc(20% - 4px);
    align-items: center;
    cursor: pointer;
}

.bingo .case .stabilo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingo .case.active .stabilo {
    background-color: rgba(255, 166, 0, 0.823);
}