*{
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.title img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.bingo {
    width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    background-color: #1565c0;
    border-radius: 15px;
    margin: 25px;
    color: white;
}

.info {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transition: transform 1s;
}

.info:hover {
    transform: scale(1.2);

}

.info img {
    width: 50px;
    height: 50px;
}

.bingo .case {
    display: flex;
    width: calc(20vw - 25px);
    justify-content: center;
    border: 2px solid white;
    height: calc(20vw - 20px);
    align-items: center;
    cursor: pointer;
}

.bingo .case .stabilo {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.bingo .case.active .stabilo {
    background-color: rgba(255, 166, 0, 0.823);
}

.bingo .case .stabilo.line{
    background-color: rgba(88, 243, 109, 0.771);
}

.modal{
    display: none;
    position: fixed;
    top:0px;
    left: 0px;
    width:100vw;
    height:100vh;
    background-color: #FFFFFF80;
}

.modal.show{
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 90%;
    height: 90%;
    background-color: #1565c0F0;
    border-radius: 15px;
    overflow-y:auto;
    color:white;
    position: relative;
}

h1{
    text-align: center;
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}